.footer {
    background-color: #FFE100;
    font-size: 20px;
    font-family: 'Cocogoose';
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}